# Some files will leak into this repo when we run stow without --no-folding, ignore them.

# Neovim
nvim/.config/nvim/.netrwhist

# Intellij - Ignore settings files that we don't want to version.
intellij/_config/options/proxy.settings.xml
intellij/_config/options/usage.statistics.xml
